@font-face {
    font-family: 'print_clearlyregular';
    src: url('../font/PrintClearly-webfont.eot.html');
    src: url('../font/PrintClearly-webfont.eot.html') format('embedded-opentype'),
         url('../font/PrintClearly-webfont.woff') format('woff'),
         url('../font/PrintClearly-webfont.ttf.html') format('truetype'),
         url('../font/PrintClearly-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
     FILE ARCHIVED ON 19:09:35 Jan 11, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:57:40 Jun 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 5.203
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.06
  esindex: 0.009
  cdx.remote: 86.604
  LoadShardBlock: 167.39 (3)
  PetaboxLoader3.datanode: 150.31 (4)
  load_resource: 239.186
  PetaboxLoader3.resolve: 205.136
*/