<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        #timer {
            font-size: 50px;
            color: #000000;
            text-align: center;
        }
    </style>
</head>
<body>

<div id="timer"></div>

<script>
var countDate = new Date("Jan 1, 2014 00:00:00").getTime();

function newTimer() {
    var now = new Date().getTime();
    var distance = now - countDate;
    
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("timer").innerHTML = days + "д " + hours + "ч "
    + minutes + "м " + seconds + "с ";
}

setInterval(newTimer, 1000);
</script>

</body>
</html>
